* {
    margin: 0;
}

.manual-blend-container {
    width: 100%;
    height: 90vh;
}

.manual-button {
    position: relative;
    margin: 0px 300px;
    width: 20%;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 5px 5px 1px 5px rgba(238, 217, 113, 1);
    border: 1px #000 solid;
}

.manual-button:hover {
    background-color:  #FFA351FF;
    transition: ease-in 1s;
}



